@using Microsoft.Ajax.Utilities
@model List<SocialWebsiteStudent.Models.Message>

@{
    ViewBag.Title = "Skrzynka odbiorcza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box">
    <p>
        <input type="submit" class="btn-lg btn-info" value="Nowa wiadomość" onclick="location.href = '@Url.Action("CreateNewMessage", "Message")'"/>

    </p>

    <h2>Prywatne wiadomości</h2>

    <table class="table">
        <tr>
            <th>
                Od:
            </th>

            <th>
                Ostatnia wiadomość:
            </th>
        </tr>
        @foreach (var item in Model.DistinctBy(x => x.FromUserName))
        {
            <tr>
                @if (item.FromUserName == User.Identity.Name)
                {
                <tr>
                    <td>

                        @Html.ActionLink(item.ToUserName.ToString(), "ShowMessage", "Message", new { username = item.ToUserName }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTimeOfMessage)
                    </td>
                </tr>
                }
                @if (item.ToUserName == User.Identity.Name)
                {
                    <td>
                        @Html.ActionLink(item.FromUserName.ToString(), "ShowMessage", "Message", new { username = item.FromUserName }, null)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTimeOfMessage)
                    </td>
                }
               
            </tr>
        }

    </table>
</div>

