@using Microsoft.Ajax.Utilities
@model List<SocialWebsiteStudent.Models.Message>

@{
    ViewBag.Title = "ShowMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var x = Request.QueryString["username"];
}


<div class="PostBox">

    <input type="submit" class="btn-lg btn-info" value="Skrzynka odbiorcza" onclick="location.href = '@Url.Action("Inbox", "Message")'"/>
    <h2>
        Konwersacja z: <a href=@Url.Action("ProfileSite", "User", new {name = x}, null)>@x</a>
    </h2>


    @using (Html.BeginForm("ShowMessage", "Message", FormMethod.Post))
    {
        @Html.Hidden("toUser", x)

        <textarea rows="5" name="messageContent" placeholder="Napisz nową wiadomość!" style="margin-top: 12px; min-width: 100%; resize: none"></textarea>
        <input class="btn-info btn-lg" type="submit" value="Wyślij" style="margin-top: 12px"/>
    }
    @foreach (var item in Model.OrderBy(date => date.DateTimeOfMessage.TimeOfDay))
    {
        <div class="author">
            @if (item.FromUserName == User.Identity.Name)
            {
                <a href=@Url.Action("ProfileSite", "User", new {name = item.FromUserName}, null)>
                    Ty
                </a>
                @Html.DisplayFor(modelItem => item.DateTimeOfMessage)
            }
            else
            {
                <a href=@Url.Action("ProfileSite", "User", new {name = item.FromUserName}, null)>
                    @Html.DisplayFor(modelItem => item.FromUserName)
                </a>
                @Html.DisplayFor(modelItem => item.DateTimeOfMessage)
            }
        </div>
        <p>
            <span style="white-space: pre-line">@Html.DisplayFor(modelItem => item.MessageContent)
                </span>
        </p>
    }
</div>