@using System.Web.Mvc.Html
@using Microsoft.AspNet.Identity
@model List<SocialWebsiteStudent.Models.Post>
@{
    ViewBag.Title = "Wpisy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box">


    <h3>Co słychać?</h3>
    @using (Html.BeginForm("PostingPost", "Post", FormMethod.Post))
    {
        <textarea rows="3" name="PostContents" placeholder="Udostępnij nowy wpis!" style="margin-top: 12px; min-width: 100%; resize: none"></textarea>
        <p class="text-center">
            <input class="btn-lg btn-primary " type="submit" value="Wyślij" style="margin-top: 12px; padding-left: 80px; padding-right: 80px"/>
        </p>
    }
</div>

@foreach (var item in Model)
{
    <div class="PostBox">
        <div class="author ">
            <a href=@Url.Action("ProfileSite", "User", new {name = item.ApplicationUser.UserName}, null)>
                @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
            </a>

            @Html.DisplayFor(modelItem => item.PostDateTime)


            @if (item.ApplicationUser.Id == User.Identity.GetUserId())
            {
                <div class="btn-group" style="float: right;">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li >
                            <a href="@Url.Action("DeletePost", "Post", new {id = item.ID}, null)">Usuń Post</a>
                        </li>
                    </ul>

                </div>
            }
        </div>

        @Html.DisplayFor(modelItem => item.PostContent)

        <div class="comment">
            @foreach (var item2 in item.Comment)
            {
                <div class="author">
                    <a href=@Url.Action("ProfileSite", "User", new {name = item2.ApplicationUser.UserName}, null)>@Html.DisplayFor(modelItem => item2.ApplicationUser.UserName)</a>

                    @Html.DisplayFor(item2Model => item2.CommentDateTime)

                </div>

                @Html.DisplayFor(item2Model => item2.CommentContent)
            }
            @using (Html.BeginForm("PostingComment", "Post", FormMethod.Post))
            {
                <p>
                    @Html.Hidden("id", item.ID)
                    <textarea name="commentContents" placeholder="Skomentuj!" style="margin-top: 12px; min-width: 100%; resize: none"></textarea>
                    <input type="submit" class="btn-primary " value="Skomentuj" style="margin-top: 12px"/>
                </p>
            }
        </div>

    </div>
}
