@using System.Web.Mvc.Html
@using Microsoft.AspNet.Identity
@model List<SocialWebsiteStudent.Models.Post>
@{
    ViewBag.Title = "Student Wall";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.IsAuthenticated == true)
{
    <div class="box">

        <div style="justify-content: center; align-items: center;">
            <h2 class="text-center">
                Udostępnij nowy wpis!
            </h2>
        </div>

        @using (Html.BeginForm("PostingPost", "Post"))
        {
            <img src="@Url.Action("UserPhotos", "User", new {name = User.Identity.Name})" height="62" width="62" style="float: left; margin-top: 12px;"/>
            <textarea rows="3" name="PostContents" placeholder="Udostępnij nowy wpis!" style="margin-top: 12px; min-width: 92%; resize: none; float: right"> </textarea>

            <p class="text-center">
                <input class="btn-lg btn-primary " type="submit" value="Wyślij" style="margin-top: 16px; padding-left: 80px; padding-right: 80px;"/>
            </p>
        }
    </div>
}

@foreach (var item in Model)
{
    <div class="PostBox">
        <a href=@Url.Action("ProfileSite", "User", new {name = item.ApplicationUser.UserName}, null)>
            <img src="@Url.Action("UserPhotos", "User", new {name = item.ApplicationUser.UserName})" height="42" width="42" style="float: left"/>
        </a>

        <div class="author">
            <a href=@Url.Action("ProfileSite", "User", new {name = item.ApplicationUser.UserName}, null)>
                @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
            </a>

            @Html.DisplayFor(modelItem => item.PostDateTime)

            @if (User.IsInRole("Admin"))
            {
                <div class="btn-group" style="float: right;">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">-</button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="@Url.Action("DeletePost", "Admin", new {id = item.ID}, null)">Usuń Post</a>
                        </li>

                    </ul>

                </div>
            }
        </div>

        <div class="textbox">@Html.DisplayFor(modelItem => item.PostContent)</div>

        @foreach (var item2 in item.Comment)
        {
            <a href=@Url.Action("ProfileSite", "User", new {name = item2.ApplicationUser.UserName}, null)>
                <img src="@Url.Action("UserPhotos", "User", new {name = item2.ApplicationUser.UserName})" height="32" width="32" style="float: left; margin-top: 20px; margin-left: 55px"/>
            </a>

            <div class="comment">
                <div class="author">
                    <a href=@Url.Action("ProfileSite", "User", new {name = item2.ApplicationUser.UserName}, null)>@Html.DisplayFor(modelItem => item2.ApplicationUser.UserName)</a>
                    @Html.DisplayFor(item2Model => item2.CommentDateTime)
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="btn-group" style="float: right;">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">-</button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="@Url.Action("DeleteComment", "Admin", new {id = item2.ID}, null)">Usuń Komentarz</a>
                                </li>

                            </ul>

                        </div>
                    }
                </div>
                <div class="textbox">@Html.DisplayFor(item2Model => item2.CommentContent)</div>
            </div>
        }
        @if (User.Identity.IsAuthenticated == true)
        {
            using (Html.BeginForm("PostingComment", "Post"))
            {
                <p>
                    @Html.Hidden("id", item.ID)
                    @Html.Hidden("userName", item.ApplicationUser.UserName)
                    <img src="@Url.Action("UserPhotos", "User", new {name = User.Identity.Name})" height="45" width="45" style="float: left; margin-top: 12px; margin-right: 12px;"/>
                    <textarea name="commentContents" placeholder="Skomentuj!" style="margin-top: 12px; min-width: 90%; resize: none"></textarea>
                    <input type="submit" class="btn-primary " value="Skomentuj" style="margin-top: 12px;"/>
                </p>
            }
        }

    </div>
}

<!-- DODAJ ZAMIANE TAGÓW NA LINKI <a href=coś tam></a>
<script>
function myFunction() {
    var str = document.getElementById("post").innerHTML;
    var res = str.replaceAll("/#\w+/", "Dziwne");
    document.getElementById("post").innerHTML = res;
}
</script>
-->