@using System.Threading.Tasks
@using Microsoft.AspNet.Identity
@using Microsoft.AspNetCore.Mvc.Rendering
@using SocialWebsiteStudent.Domain.Models
@model List<SocialWebsiteStudent.Domain.Models.Post>

@{
    ViewBag.Title = "ShowPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@foreach (var item in Model)
{
    <div class="PostBox">
        <a href=@Url.Action("ProfileSite", "User", new {name = item.ApplicationUser.UserName}, null)>
            <img src="@Url.Action("UserPhotos", "User", new {name = item.ApplicationUser.UserName})" height="42" width="42" style="float: left" />
        </a>

        <div class="author">
            <a href=@Url.Action("ProfileSite", "User", new {name = item.ApplicationUser.UserName}, null)>
                @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
            </a>

            @Html.DisplayFor(modelItem => item.PostDateTime)

            @if (User.IsInRole("Admin"))
            {
                <div class="btn-group" style="float: right;">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">-</button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="@Url.Action("DeletePost", "Admin", new {id = item.ID}, null)">Usuń Post</a>
                        </li>

                    </ul>

                </div>
            }
        </div>

        <div class="textbox">@Html.DisplayFor(modelItem => item.PostContent)</div>

        @foreach (var item2 in item.Comment)
        {
            <a href=@Url.Action("ProfileSite", "User", new {name = item2.ApplicationUser.UserName}, null)>
                <img src="@Url.Action("UserPhotos", "User", new {name = item2.ApplicationUser.UserName})" height="32" width="32" style="float: left; margin-top: 20px; margin-left: 55px" />
            </a>

            <div class="comment">
                <div class="author">
                    <a href=@Url.Action("ProfileSite", "User", new {name = item2.ApplicationUser.UserName}, null)>@Html.DisplayFor(modelItem => item2.ApplicationUser.UserName)</a>
                    @Html.DisplayFor(item2Model => item2.CommentDateTime)
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="btn-group" style="float: right;">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">-</button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="@Url.Action("DeleteComment", "Admin", new {id = item2.ID}, null)">Usuń Komentarz</a>
                                </li>

                            </ul>

                        </div>
                    }
                </div>
                <div class="textbox">@Html.DisplayFor(item2Model => item2.CommentContent)</div>
            </div>
        }
        @if (User.Identity.IsAuthenticated == true && User.IsInRole("UserBanned") == false)
        {
            using (Html.BeginForm("PostingComment", "Post"))
            {
                <p>
                    @Html.Hidden("id", item.ID)
                    @Html.Hidden("userName", item.ApplicationUser.UserName)
                    <img src="@Url.Action("UserPhotos", "User", new {name = User.Identity.Name})" height="45" width="45" style="float: left; margin-top: 12px; margin-right: 12px;" />
                    <textarea name="commentContents" placeholder="Skomentuj!" style="margin-top: 12px; min-width: 90%; resize: none"></textarea>
                    <input type="submit" class="btn-primary " value="Skomentuj" style="margin-top: 12px;" />
                </p>
            }
        }

    </div>
}