@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" style="padding-top: 10px; padding-bottom: 10px;">
                    <img src="@Url.Action("UserPhotos", "User", new {name = User.Identity.Name})" height="32" width="32" style="margin-right: 10px;"/>
                    @User.Identity.Name
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink("Twój profil", "ProfileSite", "User", new {name = User.Identity.Name}, null)
                    </li>
                    <li>
                        @Html.ActionLink("Opcje Profilu", "ProfileOptions", "User", new {name = User.Identity.Name}, null)
                    </li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>

                    </li>
                </ul>
            </li>


        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right ">
        <li>@Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
        <li>@Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
    </ul>
}