@model List<SocialWebsiteStudent.Models.Post>

@{
    ViewBag.Title = "Profil użytkownika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    


@foreach (var item in Model)
{
    <div class="PostBox">

        <div class="author ">
            @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
            @Html.DisplayFor(modelItem => item.PostDateTime)
        </div>
        @Html.DisplayFor(modelItem => item.PostContent)


        <div class="comment">

            @foreach (var item2 in item.Comment)
            {
                <div class="author ">

                    @Html.DisplayFor(item2Model => item2.ApplicationUser.UserName)
                    @Html.DisplayFor(item2Model => item2.CommentDateTime)
                </div>

                @Html.DisplayFor(item2Model => item2.CommentContent)
            }

        </div>
    </div>
}